body 
{
  width: 1024px;
  margin: auto;
}

#logo 
{
  margin: 2px;
}

#banner 
{
  display: grid;
  grid-template-columns: auto 1fr;
  margin: auto;
}

#pageTitle 
{
  display: block;
}

/* Navigation styles */
#navbar
{
  padding: 0;
  margin: 2px;
  list-style-type: none;
}

#navbar li > a,
#navbar li > a:visited
{
  display: block;
}

#webring
{
  display: block;
  text-align: center;
}

#webring > a 
{
  padding: 0;
  margin: 2px;
  display: inline-block;
}