body 
{
  width: 1024px;
  margin: auto;
  background-color: cornflowerblue;
}

header > h1
{
  text-align: center;
}


#logo 
{
  margin: 2px;
  background-image: linear-gradient(black, gray);
  border: 1px inset;
  border-color: black gray white lightgray;
}

#banner 
{
  display: grid;
  grid-template-columns: auto 1fr;
  margin: auto;

  background-image: linear-gradient(darkgray, gray);
  border: 1px outset;
  border-color: white gray black lightgray;
}

#banner #pageTitle 
{
  font-weight: bold;
}

/* Navigation styles */
#navbar
{
  padding: 0;
  margin: 2px;
  list-style-type: none;

  background-color: whitesmoke;
  border: 1px inset;
  border-color: black gray white lightgray;
}

/* Link styles */
a
{
  color: navy;
  text-decoration: none;
}

a:hover
{
  color: blue;
  text-decoration: underline;
  border-color: inherit;
}

#navbar li > a,
#navbar li > a:visited
{
  display: block;
  color: black;
  border-bottom: 1px dotted;
  border-color: gray;
}

#navbar li > a:hover
{
  color: palegoldenrod;
  background-image: linear-gradient(90deg, navy, whitesmoke);
}
