/* body * {outline: solid 1px red;} */
body 
{
  color: white;
  background-color: black;

  font-family: 'Comic Sans MS', 'Comic Sans', Verdana, Arial, Helvetica, sans-serif;
}

article 
{
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px;
}

.pageTitle
{
  color: whitesmoke;
  text-shadow: gray 2px 2px;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24pt;
}

.content, .nav, .footer 
{
  border: inset 1px gray;
}

/* Navigation styles */

.navList a
{
  color: black;
  background-color: orange;
  
  background-image: url('../assets/img/btn_hi.png'),
                    url('../assets/img/btn_blend.png');

  background-position: top, right;
  background-size: contain, 60%;
  background-repeat: repeat-x, repeat-y;

  border: outset 1px gray;
  font-weight: bold;
}

.navList a:hover
{
  border-style: inset;
  background-image: url('../assets/img/btn_shadow.png'),
                    url('../assets/img/btn_hi.png'),
                    url('../assets/img/btn_blend.png');

  background-position: 0, right, right;
  background-size: 100% 100%, 100% 100%, 60%;
  background-repeat: no-repeat, repeat-x, no-repeat;
}

/* Link styles */
a
{
  color: yellowgreen;
  text-decoration: none;
}

a:hover:only-of-type(a)
{
  color: white;
  border-color: inherit;
}

#webring > a 
{
  border: 1px dotted black;
}

#webring > a:hover 
{
  border-color: white;
}