body 
{
  background-color: cornflowerblue;
  font-family: Verdana, sans-serif;
}

#logo 
{
  background-image: linear-gradient(black, gray);
  border: 1px inset;
  border-color: black gray white lightgray;
}

#banner 
{
  background-image: linear-gradient(darkgray, gray);
  border: 1px outset;
  border-color: white gray black lightgray;
}

#pageTitle 
{
  color: whitesmoke;
  text-shadow: #000d 2px 2px 3px;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-variant: small-caps;
  font-size: 18pt;
}

/* Navigation styles */
#navbar
{
  background-color: whitesmoke;
  border: 1px inset;
  border-color: black gray white lightgray;
}

/* Link styles */
a
{
  color: blue;
  text-decoration: none;
}

a:hover
{
  color: maroon;
  text-decoration: underline;
  border-color: inherit;
}

#navbar li > a,
#navbar li > a:visited
{
  color: black;
  border-bottom: 1px dotted;
  border-color: gray;
}

#navbar li > a:hover
{
  color: palegoldenrod;
  background-image: linear-gradient(90deg, navy, whitesmoke);
}